{%extends "layout.html"%}
{%block body%}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url(' {{url_for('static', filename='img/about-bg.jpg') }} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">What do we do here?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{params['about_text']}}</p>
          <p>AND this is my coding blog where I upload blogs about C++!!</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  {%endblock%}